@using System.Web.Optimization
@using MrCMS.ACL.Rules
@using MrCMS.Helpers
@using MrCMS.Settings
@using MrCMS.Website
@using MrCMS.Website.Optimization
@using StackExchange.Profiling
@model MrCMS.Entities.Documents.Web.Webpage
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@(this.PageTitle())</title>
    <meta name="description" content="@(this.Description())" />
    <meta name="keywords" content="@(this.Keywords())" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- /themes/ridge-realty/views/shared/_BaseLayout -->

    @{
        //Html.IncludeCss("~/Apps/Core/Content/bootstrap/css/bootstrap.css");
        //Html.IncludeCss("~/Apps/Core/Content/bootstrap/css/bootstrap-theme.css");
        //Html.IncludeCss("~/Apps/Core/Content/Styles/style.css");
    }

    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald:400,700,300|Roboto:400,100,300,700,900,100italic,300italic,400italic,700italic,900italic|Open+Sans:300,400,600,700">
    <link href="/themes/ridge-realty/content/css/site.css" rel="stylesheet" type="text/css" />
    
    @*@{ Html.IncludeCss("~/Apps/Core/Content/Styles/style.css"); }
    @Styles.Render(AppStylesheetBundle.VirtualUrl)
    @{ Html.IncludeCss("~/content/css/site.css"); }
    @{ Html.RenderCss(); }*@

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><script src="/Apps/Core/Content/Scripts/respond.min.js"></script><![endif]-->
    @Html.Raw(SiteSettings<SEOSettings>().TrackingScripts)
    @Html.Raw(Model.CustomHeaderScripts)
</head>
<body class="fade-in fouc page-@(Model.UrlSegment.ToString().Replace("/", "--"))">

    <div id="tpl-page-wrapper">
        <header id="tpl-header">
            <nav class="navbar navbar-h-expanded navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-main">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @{ RenderZone("Header Left"); }
                    </div>
                    


                    <div class="collapse navbar-collapse navbar-right" id="navbar-collapse-main">
                        @{ RenderZone("Main Navigation", allowFrontEndEditing: false); }
                        @{ RenderZone("Header Right", allowFrontEndEditing: false); }
                        <ul class="nav navbar-nav" id="nav-links-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-search"></span>
                                </a>
                                <div class="dropdown-menu  dropdown-search">
                                    @{ Html.RenderPartial("SearchForm"); }
                                </div>
                            </li>
                        </ul>
                    </div>

                    @*<div class="navbar-right">
                        <ul class="nav navbar-nav" id="nav-links-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-search">jjm</span>
                                </a>
                                <div class="dropdown-menu  dropdown-search">
                                    @{ Html.RenderPartial("SearchForm"); }
                                </div>
                            </li>
                            <!--<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user"></span>
                            </a>
                            @{ RenderZone("Header Right", allowFrontEndEditing: false); }
                        </li>-->
                        </ul>
                    </div>*@

                </div>
            </nav>
        </header>

        <div id="tpl-content-wrapper">
            <div id="tpl-content-before">
                @{ RenderZone("Before Content"); }
            </div>        

            <div id="tpl-content" class="container">
                @RenderBody()
                @{ RenderZone("Comments"); }
            </div>

            <div id="tpl-content-after">
                @{ RenderZone("After Content"); }
            </div>
        </div>

        <footer id="tpl-footer">
            @{ RenderZone("Footer"); }
        </footer>

    </div>


    <script type="text/javascript" src="//code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/Apps/Core/Content/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/Apps/Core/Content/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/scrollreveal.js/3.1.5/scrollreveal.min.js"></script>
    <script type="text/javascript" src="~/content/js/main.js"></script>

    @{
        //Html.IncludeScript("~/Apps/Core/Content/bootstrap/js/bootstrap.js");
        Html.IncludeScript("~/Apps/Core/Content/Scripts/jquery.validate.min.js");
        Html.IncludeScript("~/Apps/Core/Content/Scripts/jquery.validate.unobtrusive.min.js");
    }


    @if (CurrentRequestData.CurrentUser != null && CurrentRequestData.CurrentUser.CanAccess<AdminBarACL>("Show") && SiteSettings<SiteSettings>().EnableInlineEditing)
    {
        Html.RenderAction("InPageEditor", "InPageAdmin", new { id = Model.Id, area = "Admin" });
    }
    @*@if (IsSectionDefined("JavascriptBlockInclude"))
    {
        @RenderSection("JavascriptBlockInclude")
    }*@
    @RenderSection("JavascriptBlockInclude", false)
    @Html.Raw(Model.CustomFooterScripts)
    @Scripts.Render(AppScriptBundle.VirtualUrl)
    @{ Html.RenderScripts(); }
    @MiniProfiler.RenderIncludes()

    <script>
        $(document).ready(function () {
            $('body').bind('touchstart', function () { });
        });
    </script>
</body>
</html>